/* Style 1

-Ejemplo-
Selector: etiqueta p 
propiedad: color 
Valor: #000000

*/

body {
    background-color: rgb(252, 255, 102);
}

#Parrafo1 {color: whitesmoke; 
    background-color: blueviolet;
    font-style: italic;
}


#Parrafo2 {color: white;
background-color: black;
}

.Cohorte15 { 
    background-color: rgb(250, 86, 209); 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#Silvia {color: rgb(247, 233, 233);}

#Berenice {color: rgb(40, 52, 165);}

/* Modelo de cajas */
.caja {
    
    border-style: dotted;
    border-radius: 30px;
    padding: 15px ; /*Margen interno*/
    background-color:white;
    margin: p30x;  /*margen de la caja */

}

/* Caja Flotante estilo */



.cajaflotante{
    margin: 40px 30px 0px 30px;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    border-radius: 5px;
    border-top: solid 0px;
}
.contenido {
    padding: 15px;
}

.cabecera {
    padding: 10px;
    border-bottom: solid 1px #eeeeee;
}

.footer{
    padding: 10px;
    border-top: solid 1px #eeeeee;
}

.primario {
    background-color: #0090ff;  
    border: 0px;
    padding: 5px;
    color: #ffffff;
    border-radius: 2px;
}

.secundario {
    background-color: #aaaaaa;  
    border: 0px;
    padding: 5px;
    color: #ffffff;
    border-radius: 2px;
}

.facebook{
    margin: 20px;
    padding: 15px;
    background-color: #3b5998;
    color: white;
    font-size: 20px;
    border: 2px solid #cccccc;
    border-radius: 10px;
}

.instagram{
    margin: 20px;
    padding: 15px;
    background-color: #a51699;
    color: white;
    font-size: 20px;
    border: 2px solid #cccccc;
    border-radius: 10px;
}

.tiktok{
    margin: 20px;
    padding: 15px;
    background-color: black;
    color: white;
    font-size: 20px;
    border: 2px solid #cccccc;
    border-radius: 10px;
}